# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
*.ipynb_checkpoints

# Environment
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode
.vscode/

# MacOS
.DS_Store

# Data and model folders (you can modify as needed)
data/
datasets/
models/
outputs/
logs/
runs/

# Temporary files
*.log
*.tmp

# Python virtual environment
pip-wheel-metadata/
*.egg-info/
build/
dist/

# Ignore MLflow artifacts if using MLflow
mlruns/
